<div header></div>
<div class="container" >
<div class="panel panel-default studAdd" >
    
  
    <div class="row studheader">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal"> Add Student</button>
                   <button class="btn btn-info " ng-click="exportToExcel('#tableId')">
                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
         <button type="button" class="btn btn-info " data-toggle="modal" data-target="#cModal">Upload Excel</button>
    </div>


</div>
<div class="panel panel-body studdiv" >
    <div> <input type="text" class="form-control" id="ex3"  ng-model="searchText" placeholder="Search Name & Standerd"></div>
    <br>
    <table class="table" id="tableId">
        <thead>
        <tr>
            <th>S ID</th>
            <th>F-Name</th>
             <th>L-Name</th>
            <th>Standerd</th>
            <th>Devision</th>
            <th>Email ID</th>
            <th>DOB</th>
            <th>Mobile No</th>
            <th>L-Address</th>
            <th>P-Address</th>
            
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studList | filter:searchText">
            <td>{{student.stud_id}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.standard}}</td>
            <td>{{student.division}}</td>
            <td>{{student.email_address}}</td>
            <td>{{student.student_dob}}</td>
            <td>{{student.contact_no}}</td>
            <td>{{student.laddress}}</td>
            <td>{{student.paddress}}</td>
            <td><button type="button" class="btn btn-primary" ng-click="myfunction(student.stud_id)"><i class="glyphicon glyphicon-remove"></i></button></td>
            <td><button type="button" class="btn btn-info" ng-click="editStud(student.stud_id)" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i></button></td>
            
           
            
            </tr>
        </tbody>
        </table>
    </div>
</div>

<form name="studentform">
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table">
          <tbody>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">First Name:</div>
                      <div class="col-sm-8">
                          <input type="hidden" name="studID" ng-model=stud.stud_id>
                          <input only-letters-input  type="text" class="form-control" id="ex3" 
                                 ng-model="stud.first_name"  name="fname" required/>
                      <span ng-show="studentform.fname.$error.required && studentform.fname.$touched" style="color:                                       red;">This field is required</span>
                      <span ng-show="studentform.fname.$error.onlyLettersInput">Enter only charactors</span></div>
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Last Name:</div>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" id="ex3" ng-model="stud.last_name" name="lname"                                           required/>
                      <span ng-show="studentform.lname.$error.required && studentform.lname.$touched" style="color:                                       red;">This field is required</span>
<!--                      <span ng-show="studentform.lname.$error.onlyLettersInput">Enter only charactors</span>-->
                      </div>
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Standerd:</div>
                      <div class="col-sm-8">
                         <select class="form-control" name="standred" id="standred" 
                          ng-options="option.name for option in stList.stdList track by option.id"
                            ng-model="stud.standard">
                          </select>
                             
                   
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Devision:</div>
                      <div class="col-sm-8">
                          <select class="form-control" name="devision" id="devision" 
                            ng-options="option.name for option in studDiv.divList track by option.id"
                            ng-model="stud.division"></select>
                    
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Email ID:</div>
                      <div class="col-sm-8">
                          <input type="email" class="form-control" id="ex3" ng-model="stud.email_address" name="email"                                              required/>
                           <span ng-show="studentform.email.$error.required && studentform.email.$touched"                                               style="color:red">This field is required</span> 
                            <span ng-show="studentform.email.$error.email" style="color: red">Please enter valid                                               email</span>    
                      </div>
                      </div>
                  </td>
              </tr>
               <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Date of birth:</div>
                      <div class="col-sm-8">
                          <input type="date" class="form-control" id="ex3" ng-model="stud.student_dob" name="dob"                                             required/>
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Mobile No:</div>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" id="ex3" ng-model="stud.contact_no" name="mobile"                                     ng-pattern= "/^[7-9][0-9]{9}$/"  required/>
                      
                            <span ng-show="studentform.mobile.$error.required && studentform.mobile.$touched"                                             style="color: red;">This field is required</span>
                      <span ng-show="studentform.mobile.$error.pattern" style="color: red;">Invalid Mobile No</span>
                      </div>
                      </div>
                  </td>
              </tr>
             <tr>
                  <td><div class="form-group">
                      <div class="col-sm-4">Local Address:</div>
                      <div class="col-sm-8">
<!--                          <textarea cols="1" class="form-control" id="add" ng-model="stud.laddress" name="laddress"                                     required></textarea>-->
                          <input type="text" class="form-control" name="laddress" ng-model="stud.laddress" required>
<!--                          <input type="checkbox" name="checkaddress" ng-model="stud.cvalue"                                                         onchange="copyTextValue(this)">Same as Pernment address-->
                      
                          <span ng-show="studentform.laddress.$error.required && studentform.laddress.$touched"                                     style="color:red;">This field is required</span>
                      </div>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="form-group">
                            <div class="col-sm-4">Permnent Address:</div>
                              <div class="col-sm-8">
        <!--                          <textarea cols="1" class="form-control" id="add2" ng-model="stud.paddress" name="paddress"                                required></textarea>  -->
                                  <input type="text" class="form-control" name="paddress" ng-model="stud.paddress" required>
                              <span ng-show="studentform.paddress.$error.required && studentform.paddress.$touched"                                     style="color:red;">This field is required</span>
                              </div>
                      </div>
                  </td>
              </tr>
                <tr>
                    <td>
                           <div class="form-group">
                                <div class="col-sm-4">Status</div>
                                  <div class="col-sm-8">

                                    <select class="form-control" name="status" id="status" 
                                            ng-options="option.name for option in statusList.statusStud track by option.id"
                                            ng-model="stud.status"></select>
                                
                             </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                          <div class="form-group">
                                <div class="col-sm-4"> Birth Certificate</div>
                                  <div class="col-sm-8">
                                      <label for="">Image1</label>
                                    <input type="file" name="file1" id="file1">
                             </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td>
                          <div class="form-group">
                                <div class="col-sm-4">Previous Year Marksheet</div>
                                  <div class="col-sm-8">
                                       <label for="">Image2</label>
                                    <input type="file" name="file2" id="file2">
                             </div>
                          </div>
                    </td>
                </tr>

                <tr>
                    <td>
                          <div class="form-group">
                                <div class="col-sm-4">Leaving Certificate</div>
                                  <div class="col-sm-8">
                                       <label for="">Image3</label>
                                    <input type="file" name="file3" id="file3">
                             </div>
                          </div>
                    </td>
                </tr>
               
              </tbody>
          
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" value="upload" class="btn btn-primary" data-dismiss="modal" ng-click="postStudent(stud)" ng-hide="saveButton">Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateStud(stud,stud.stud_id)" ng-hide="updateButton">Update</button>
      </div>
    </div>
  </div>
</div>
</form>