<div header></div>
<div class="container">

    <div class="panel panel-body changeAdminPass" >

    <form class="form form-horizontal" name="changepass" novalidate>
    <table class="table">
        <thead>
        <th>Change Password</th>
        </thead>
        <tbody>
        
            <tr>
                <td><div class="form-group">
                        <input type="hidden" ng-model="change.userId">
                      <div class="col-sm-4">Old Password:</div>
                      <div class="col-sm-8"><input type="password" class="form-control" id="ex3" ng-model="change.opassword" name="oldpassword"required/></div>
                      </div>
                  </td>
            </tr>
            <tr>
                 <td><div class="form-group">
                      <div class="col-sm-4">New Password:</div>
                      <div class="col-sm-8" >
                          <input type="password" class="form-control"  ng-model="npassword" name="newpassword" ng-minlength="4" ng-maxlength="8" />
                          <span ng-show="changepass.newpassword.$untouched && changepass.newpassword.valid" style="color: red">Required</span>
                          <span ng-show="changepass.newpassword.$error.minlength" style="color:red;">Too Short</span>
                          <span ng-show="changepass.newpassword.$error.maxlength" style="color:red;">Too Long</span>
                         
                         
                    
                     </div>
                      </div>
                  </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-sm-4">Confirm Password:</div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="ex3" ng-model="change.cpassword" name="confirmpassword"  compair-to="{{change.npassword}}" required/>
                            
                        
                        </div>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <button type="button" class="btn btn-primary" ng-click="changePass(change)">Submit</button>                
                </td>
            </tr>
        </tbody>
    </table>
     </form>
    </div>


    
</div>


